<div class="card">
    <div class="card-body">
        <a href="#" class="card-img">

            <img src="./images/sale.jpg" class="card-img-top" alt="advice">

        </a>

        <h5 class="card-title">Today on sale</h5>
        <a href="#" class="card-text">Deals are here</a>
        <div class="btn-card">
            <button class="btn-basket" onclick="">Go to</button>
        </div>

    </div>
</div>