<div class="card">
    <div class="card-body">
        <a href="#" class="card-img">

            <img src="./images/box1.webp" class="card-img-top" alt="advice">

        </a>

        <h5 class="card-title">New arrivals</h5>
        <a href="#" class="card-text">Discover our new products</a>
        <div class="btn-card">
            <button class="btn-basket" onclick="">Go to</button>
        </div>

    </div>
</div>