<div class="card-text-bg">
    <a href="#" class="card-title-img">
    <img src="./images/atractive.jpg" class="card-title-img" alt="main banner" style="width:80%">
    </a>
        <div class="card-image-overlay">
        <h5 class="main-card-title">Get a jump on joy</h5>
        <p>Shop gifts for everyone on your list</p>
    </div>
</div>