<div class="card">
    <div class="card-body">
        <a href="#" class="card-img">

            <img src="./images/box.webp" class="card-img-top" alt="...">

        </a>

        <h5 class="card-title">Card title</h5>
        <a href="#" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
        <div class="btn-card">
            <button class="button-basket" onclick="">Go to</button>
        </div>

    </div>
</div>