<div class="product-card">

        <div class="image-container">
            <a class="product-link" href="product_card">
                <img class="title-image" src="./images/orange_bag.jpg" alt="orange bag" title="Leather bag with gold chain">
            </a>
        </div>
        <div class="title-body">
            <span class="product-badge-label" style="color:#507EBC">New arrivals</span>
            <div class="pdp-link">
                <h2 class="link">
                    <a class="product-link" href="product_card">Leather bag with gold chain</a>
                </h2>
            </div>

        </div>

</div>


