<div class="search-field">
    <form action="" class="search">
        <input type="text" placeholder="Search.." name="s">
        <button type="submit"><img src="./images/search.png" alt="search"></button>
    </form>
</div>
<div class="lg-container">
    <div>
        <button class="log" onclick=""><a href="/login">Login</a></button>
        <button class="reg" onclick=""><a href="/sign_up">Sign up</a></button>
    </div>
</div>

