<div class="sidebar">

    <div>
    <ul>
        <li><a href="#home"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="#services"><i class="fa fa-fw fa-wrench"></i>Services</a></li>
        <li><a href="#clients"><i class="fa fa-fw fa-user"></i>Clients</a></li>
        <li><a href="#cart"><span class="material-symbols-outlined">shopping_cart</span>Cart</a></li>
        <li><a href="#catalogue"><i class="fa-solid fa-bars"></i>Catalogue</a></li>
    </ul>
    </div>

    <div class="toggles">
    <div id="theme" class="theme-toggle">
        <button class="material-symbols-outlined active"onclick="switchingTheme()">
        <span class="material-symbols-outlined active">radio_button_unchecked</span></button>
        <p>light/dark</p>

   </div>
        <nav>
        <ul class="language">

                <li>eng</li>
                <li>ukr</li>

        </ul>
        </nav>
    </div>
</div>