<div class="cart-body">

    <div class="cart-container">

        <div class="cart-header">
            <h3 class="heading">Shopping Cart</h3>
            <h5 class="action">Remove all</h5>
        </div>

        <div class="cart-items">

            <div class="image-box">
                <a href="/product_card" class="product_card">
                <img src="./images/orange_bag.jpg" alt="orange_bag" height="220px"/>
                </a>
            </div>
            <div class="about">
                <h1 class="title">Leather bag</h1>
                <h3 class="subtitle">$100.00</h3>
                <div class="remove">Remove</div>
            </div>
            <div class="counter">
                <div class="btn">+</div>
                <div class="count">1</div>
                <div class="btn">-</div>
            </div>

        </div>

        <div class="cart-footer">
        <div class="prices">

            <h3>Total price</h3>
            <div class="amount">$100.00</div>

        </div>
        <div class="cart-links">
            <a href="/catalogue" class="catalogue-btn">Continue Shopping</a>
            <a href="/order" class="order-btn">Proceed to checkout</a>

        </div>
        </div>



    </div>
</div>